@font-face {
    font-family: 'Figtree-ExtraBold';
    src: url(../assets/fonts/static/Figtree-ExtraBold.ttf);
}

@font-face {
    font-family: 'Figtree-Medium';
    src: url(../assets/fonts/static/Figtree-Medium.ttf);
}

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    --blue: hsla(228, 45%, 44%, 0.89);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 0 1.75%;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card {
    width: 85vw;
    margin-bottom: 1rem;
    padding: 1.5rem;
    border-radius: 1.25rem;
    border: 1px solid var(--gray-950);
    background-color: var(--white);
    box-shadow: 0.7rem 0.7rem 0 var(--gray-950);

    display: flex;
    flex-direction: column;

}

.card .blog-image {
    max-width: 100%;
    height: auto;
    border-radius: 0.625rem;

}

.text {
    margin: 1.5rem 0;

    display: grid;
    gap: 0.75rem;
}

.text .learning {
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    background-color: var(--yellow);
    max-width: fit-content; /*ajustar a caixa ao texto*/
}

.text .learning,
.date {
    font-size: clamp(0.75rem, 6vw, 1rem);
}

.text .info {
    font-size: clamp(0.875rem, 6vw, 1.1rem);
    color: var(--gray-500);
    line-height: 1.5;
}

h1 {
    font-size: clamp(1.2rem, 6vw, 1.5rem);
    transition: color 0.3s ease;
}

h1:hover {
    color: var(--yellow);
    cursor: pointer;
}

.font-extraBold {
    font-family: 'Figtree-ExtraBold', sans-serif;
    color: var(--gray-950);
}

.font-medium {
    font-family: 'Figtree-Medium', sans-serif;
}

.author {
    display: flex;
    align-items: center;
}

.author img {
    width: clamp(1.98rem, 5vw, 1.98rem);
    height: auto;
}

.name {
    margin-left: 0.344rem;
    font-family: 'Figtree-ExtraBold', sans-serif;
    font-size: clamp(0.875rem, 6vw, 1.1rem);
    color: var(--gray-950);
}

.attribution {
    font-family: sans-serif;
    text-align: center;
    font-size: clamp(0.72rem, 6vw, 0.72rem);
    color: var(--gray-500);
}

.attribution a {
    color: var(--blue);
}

@media (min-width: 26.625rem){
    .card {
        width: 24rem;
    }
}